    @model PracticeProject.Data.Entities.User;
@{
    ViewData["Title"] = $"{Model.Name} {Model.Surname}";
}

<div class="row justify-content-center">
    <div class="col-6">
        <form asp-action="ProfileSettings" method="post">
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input required type="text" class="form-control" asp-for="Name" placeholder="@Model.Name">
            </div>
            <div class="form-group">
                <label asp-for="Surname">Surname</label>
                <input required type="text" class="form-control" asp-for="Surname" placeholder="@Model.Surname">
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input type="email" readonly class="form-control" asp-for="Email" aria-describedby="emailHelp" placeholder="@Model.Email">
                <small id="emailHelp" class="form-text text-muted">This field is unique and can't be changed'.</small>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">Phone</label>
                <input required type="text" class="form-control" asp-for="PhoneNumber" placeholder="@Model.PhoneNumber">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a asp-action="Delete" class="btn btn-danger">Delete Account</a>
    </div>
</div>
