@model PracticeProject.Data.Entities.User;
@{
    ViewData["Title"] = $"{Model.Name} {Model.Surname}";
}

<div class="row justify-content-center">

    <div class="col-10 border">

        <!-- User Info-->
        @if (User.Identity.IsAuthenticated || User.Identity.Name == Model.Email)
        {
            <div class="row p-4">
                <div class="col-3">
                    <h6>Hi, @Model.Name @Model.Surname</h6>
                </div>
                <div class="col-3">
                    <a asp-action="ProfileSettings" asp-route-id="@Model.Id" class="btn btn-secondary" role="button">Profile Settings</a>
                </div>
                <div class="col-3">
                    <a href="#" class="btn btn-secondary" role="button">Property create</a>
                </div>

            </div>
        }
        <!-- End User Info-->


        <!-- Property Listing -->
        <div class="row text-center mb-2">
            <div class="col-lg-7 mx-auto">
                <h1>Product List</h1>
            </div>
        </div>

        <!-- List group-->
        <ul class="list-group">
            <!-- list group item-->
            <li class="list-group-item border mb-3">
                <!-- Custom content-->
                @foreach (var advert in Model.Adverts)
                {
                    <div class="row flex-lg-row p-3">
                        <div class="col-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHW3aOemXDA_ZS9PsVxRXomGYw70-c4UocJyC1EO5wXw&ss" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                        </div>
                        <div class="col-5">
                            <div class="media-body order-2 order-lg-1">
                                <a class="mt-0 mb-2" asp-controller="Home" asp-action="FlatView" asp-route-id="@advert.Id">@advert.Title</a>
                                <p class="font-italic text-muted mb-0 small">@advert.Description</p>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">$@advert.Price</h6>
                                </div>
                            </div>
                        </div>
                        @if (User.Identity.IsAuthenticated || User.Identity.Name == Model.Email)
                        {
                            <div class="col-3">
                                <a href="#" class="btn btn-secondary m-1" role="button">Edit</a>
                                <div class="w-100"></div>
                                <a href="#" class="btn btn-primary m-1" role="button">Activate</a>
                                <a href="#" class="btn btn-secondary m-1" role="button">Deactivate</a>
                                <div class="w-100"></div>
                                <a href="#" class="btn btn-danger m-1" role="button">Delete</a>
                            </div>
                        }
                    </div>
                }
            </li>
            <!-- End -->

        </ul> <!-- End -->
        
        <!-- End Property Listing -->

    </div>

</div>