@model PracticeProject.Data.Entities.Advert;
@{
    ViewData["Title"] = Model.Title;
}

<div class="row justify-content-center">

    <div class="col-10 border">

        <!-- Gallery Carousel -->
        <div class="p-2">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    @for (int i = 1; i < Model.Photos.Count; i++)
                    {
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" aria-label="Slide @(i+1)"></button>
                    }
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/@Model.Photos.First().PathToFile" class="d-block w-100" alt="...">
                    </div>
                    @for (int i = 1; i < Model.Photos.Count; i++)
                    {
                        <div class="carousel-item">
                            <img src="~/@Model.Photos.ElementAt(i).PathToFile" class="d-block w-100" alt="...">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- End -->

        <!-- Flat Description -->
        <div class="row mt-2">
              
                <div class="col-7">

                    <div class="row">
                        <div class="col-8">
                            <h4>@Model.Title</h4>
                        </div>
                        <div class="col-4">
                            <h2>$@Model.Price</h2>
                        </div>
                    </div>
                 
                    @if (Model.Flat == null)
                    {
                        <h6>Type of land: @Model.Land.TypeOfLand</h6>
                        <h6>Area: @Model.Land.Area @Model.Land.AreaDimension</h6>
                    }
                    else
                    {
                        <h6>Floor: @Model.Flat.Floor/@Model.Flat.Storey</h6>
                        <h6>Square: @Model.Flat.Square</h6>
                        <h6>Building age in years: @Model.Flat.BuildingAge</h6>
                    }
                    <h6>Location: @Model.Location</h6>
                    <h5>@Model.Description</h5>
                </div>

                <div class="col-5">
                    <h2>Seller information</h2>
                    <h3>Name: @Model.User.Name @Model.User.Surname</h3>
                    <h4>Phone number: @Model.User.PhoneNumber</h4>
                    @if (Model.User.IsActive)
                    {
                        <h4>Online</h4>
                    }
                    else
                    {
                        <h4>Offline</h4>
                    }
                    <a asp-controller="User" asp-action="UserProfile" asp-route-id="@Model.UserId">
                        See seller profile
                    </a>
                </div>

                <div class="col">
                    <h6>Created at @Model.CreatedAt.ToString("dd/MM/yyyy") | @Model.ViewNumber Views</h6>
                </div>
        </div>
        <!-- End Flat Description -->

    </div>

</div>