@model List<PracticeProject.Data.Entities.Advert>;
@{
    ViewData["Title"] = "Home Page";
}

<!-- Search Forms for two types of property-->
<div class="row justify-content-center">
    <div class="col-11">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Flat</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Land</button>
            </div>
        </nav>
        <div class="tab-content border border-top-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <!-- Flat Search Form-->
                <form asp-action="Index" method="post">
                    <input type="hidden" name="searchType" value="Flat" />
                    <div class="row justify-content-center p-3">
                        <div class="col-9">
                            <input type="text" class="form-control" name="inputDescription" placeholder="Type what are you looking for...">
                        </div>
                        <div class="col-2">
                            <input type="submit" class="btn btn-primary" role="button" value="Search">
                        </div>
                    </div>
                    <div class="row p-3">
                        <div class="form-group">
                            <label for="inputLocation">Location</label>
                            <input type="text" class="form-control" name="inputLocation" placeholder="Property location...">
                        </div>
                        <div class="w-100"></div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Price</label>
                                <input type="text" pattern="[0-9]+" class="form-control" name="lowPrice" placeholder="from...">
                                <input type="text" pattern="[0-9]+" class="form-control" name="upPrice" placeholder="to...">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Square</label>
                                <input type="text" pattern="[0-9]+" class="form-control" name="lowSquare" placeholder="from...">
                                <input type="text" pattern="[0-9]+" class="form-control" name="upSquare" placeholder="to...">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="">Floor</label>
                                <input type="text" pattern="[0-9]+" class="form-control" name="lowFloor" placeholder="from...">
                                <input type="text" pattern="[0-9]+" class="form-control" name="upFloor" placeholder="to...">
                            </div>
                        </div>
                    </div>
                </form>
                <!-- End-->
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <!-- Land Search Form-->
                <form asp-action="Index" method="post">
                    <input type="hidden" name="searchType" value="Land" />
                    <div class="row justify-content-center p-3">
                        <div class="col-9">
                            <input type="text" class="form-control" name="inputDescriptiom" placeholder="Type what are you looking for...">
                        </div>
                        <div class="col-2">
                            <input type="submit" class="btn btn-primary" role="button" value="Search">
                        </div>
                    </div>
                    <div class="row p-3">
                        <div class="form-group">
                            <label for="inputLocation">Location</label>
                            <input type="text" class="form-control" name="inputLocation" placeholder="Property location...">
                        </div>
                        <div class="w-100"></div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Price</label>
                                <input type="text" pattern="[0-9]+" class="form-control" name="lowPrice" placeholder="from...">
                                <input type="text" pattern="[0-9]+" class="form-control" name="upPrice" placeholder="to...">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Area</label>
                                <input type="text" pattern="[0-9]+" class="form-control" name="lowArea" placeholder="from...">
                                <input type="text" pattern="[0-9]+" class="form-control" name="upArea" placeholder="to...">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Dimension</label>
                                <select class="form-select" name="areaDimension">
                                    <option value="0" selected>sq.m</option>
                                    <option value="1">sq.ft</option>
                                    <option value="2">ha</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Type of land</label>
                                <select class="form-select" name="typeOfLand" aria-label="Default select example">
                                    <option value="0" selected>01.03</option>
                                    <option value="1">01.05</option>
                                    <option value="2">02.01</option>
                                    <option value="3">03.10</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- End-->
            
            </div>
            
        </div>


    </div>
</div>
<!-- End -->

<div class="row text-center mb-2">
    <div class="col-lg-7 mx-auto">
        <h1>Product List</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-11 mx-auto">
        <!-- List group-->
        <ul class="list-group">
            <!-- list group item-->
            @foreach (var advert in Model)
            {
                <li class="list-group-item border">
                    <!-- Custom content-->
                    <div class="row flex-lg-row p-3">
                        <div class="col-md-auto">
                            <img src="~/@advert.Photos.First().PathToFile" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                        </div>
                        <div class="col">
                            <div class="media-body order-2 order-lg-1">
                                <a class="mt-0 mb-2" asp-action="FlatView" asp-route-id="@advert.Id">@advert.Title</a>
                                <p class="font-italic text-muted mb-0 small">@advert.Description</p>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">$@advert.Price</h6>
                                </div>
                            </div>
                        </div> <!-- End -->
                    </div>
                </li> <!-- End -->
            }
          
        </ul> <!-- End -->
    </div>

</div>


<!-- Pagination -->
<div class="row justify-content-center py-3">
    <div class="col-md-auto">
        <nav>
            <ul class="pagination">
                @for (int i = 1; i <= Math.Ceiling(Model.Count / 5.0); i++)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index"  asp-route-page="@i">@i</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>
<!-- End -->
